
/* Style for register box */
.register_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px;
    max-height: 250vh; /* Set the max height to 90% of the viewport height */
    z-index: 3;
}

#popup .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#popup .mainform {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 55vh;
    height: 80vh;
}

#popup .mainbtn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

#popup .userbtn, #popup .hospitalbtn, #popup .bloodbankbtn {
    background: rgb(48, 42, 246);
    width: 30%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#popup h2 {
    margin-top: 15px;
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_boxR {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 28px;
    display: flex;
}

.input_boxR input, .input_boxR select {
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_boxR input:focus, .input_boxR select:focus {
    border-color: #f96969;
}

.input_boxR i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_boxR i.fa-lock,
.input_boxR i.fa-user,
.input_boxR i.fa-envelope,
.input_boxR i.fa-phone,
.input_boxR i.fa-home {
    left: 0;
}

.input_boxR input:focus~i.fa-user,
.input_boxR input:focus~i.fa-lock,
.input_boxR input:focus~i.fa-envelope,
.input_boxR input:focus~i.fa-phone,
.input_boxR input:focus~i.fa-home {
    color: #f96969;
}

.input_boxR i.fa-eye-slash {
    right: 0;
    font-size: 18px;
}

#popup #RegButton {
    background: #f96969;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

#popup #RegButton:hover {
    background-color: #d85757;
}

#Register_signup {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

#Register_signup a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#Register_signup a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.image-container {
    width: 250px;
}

.image-container img {
    height: 280px;
    width: 240px;
    border-radius: 10px;
}

.formerror {
    color: red;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 5px;
}